.main {
    // border: 2px solid  #ccc;
    padding: 30px;
    line-height: 1.5;
    border-radius: 0px;
    height: 40%;
    // box-shadow:2px 4px 20px 2px rgba(202, 199, 199, 0.2), 0 6px 10px 0 rgba(0,0,0,0.19)
}

span {
    cursor: pointer;
    text-align: center;
    display: block;
    // border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #f0fbff;
    // padding: 20px;
    line-height: 1.5;
    // border-radius: 0px;
    // margin-left: 20px;
    // margin-right: 20px;
    // margin-top: 17px;
    // margin-bottom: 17px;
    width: 150px;
    height: 150px;
    // box-shadow: 2px 4px 20px 2px rgba(202, 199, 199, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19)
}

a {
    color: #1d578e;
}

label {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

i {
    padding-top: 20px;
}

// i { 
//     text-shadow: 2px 4px 6px #74e8ec;
// } 
.fa {
    font-size: 50px;
    font-weight: lighter;
}


i:hover {
    padding-top: 30px;
    transform: scale(1.5);
}