<div>
    <fieldset class="form-group">
        <legend>Vitals Information <label class="high-light"></label></legend>
        <app-vital-data [assessment_id]="assessment_id" [patient_id]="patient_id" [vital_values]="vital_values"
            [blood_sugar]="blood_sugar"></app-vital-data>

    </fieldset>
    <!-- <div class="loading-screen-wrapper" *ngIf="loading">
            <div class="loading-screen-icon"><i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color: #1d578e;size:250px"></i>
            <span class="sr-only">Loading...</span>
            
            Loading...
            </div>
            </div> -->

</div>