legend {
  display: block;
  width: auto;
  max-width: 100%;
  padding: 10px;
  margin-bottom: .5rem;
  font-size: 19px;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

.high-light {
  font-weight: bold;
  font-size: 19px;
  color: #1d578e;
}

fieldset {
  min-width: 0;
  padding: 10px;
  margin: 5px;
  margin-left: 5px;

  border: 1px solid grey;
}

.clearfix {

  width: 100%;
  min-height: 10px;

}

label,
th {
  font-size: 13px;
}

input,
select,
option {
  font-size: 13px;
}

.info-td {
  text-align: center;

}

.form-group {
  label {
    display: inline-block;
    margin-top: .5rem;
    margin-bottom: 0rem !important;
  }
}

.input-group {
  label {
    display: inline-block;
    margin-top: .0rem;
    margin-bottom: .5rem !important;
  }
}

.sm-tbl {

  td,
  th {
    padding: 2px;
    font-size: 12px;
  }
}

.multiselect-dropdown[_ngcontent-c6] .dropdown-btn[_ngcontent-c6] .dropdown-down[_ngcontent-c6] {
  display: inline-block;
  top: 10px;
  width: 0;
  height: 0;
  border-top: 6px solid #adadad;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.multiselect-dropdown .dropdown-btn {
  display: inline-block;
  border: 1px solid #d5d5d5;
}

label,
th,
td {
  font-size: 13px;
}

input,
select,
option {
  font-size: 13px;
}

.raw {
  font-size: 13px;
}

// .loading-screen-wrapper {
//   z-index: 100000;
//   position: absolute;
//   background-color: rgba(255, 255, 255, 0.6);
//   width: 100%;
//   height: 100%;
//   display: circle;
// }

// .loading-screen-icon {
//   position: absolute;
//   top: 10%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }
.table td {
  padding: 4px 4px 2px 4px;
}

.table thead th {
  vertical-align: middle;
  border-bottom: 2px solid #dee2e6;
  border-bottom-width: 2px;
}

.table tbody td {
  font-size: 12px;
  text-align: left;
}

.table {
  vertical-align: middle;
}

.table tbody td {
  font-size: 12px;
  text-align: left;
}

label,
th,
td {
  font-size: 12px;
  // color: black;
}

input,
select,
option {
  font-size: 12px;
}

.tbl {
  td {
    padding: 5px 8px 5px 8px;
  }
}