<div class="container-fluid-sm container-lg mt-3  ">
  <div class="row">
    <div class="col-md-6 mb-3 p-4">
      
      <a routerLink="/form3">
    
        <mat-card class="col-12">
          <mat-card-content>
            <div class="text-center">
              Consent Form - 1
              <h4>General Consent</h4>
            </div>
          </mat-card-content>
        </mat-card>
      </a>
    </div>

    <div class="col-md-6 mb-3 p-4">
  
      <a routerLink="/form1">
    
        <mat-card class="col-12">
          <mat-card-content>
            <div class="text-center">
              Consent Form - 2
              <h4>Dental Consent</h4>
            </div>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
    <!-- <div class="col-md-6 mb-3 p-4">
      
      <a routerLink="/form2">
    
        <mat-card class="col-12">
          <mat-card-content>
            <div class="text-center">
              Consent Form - 2
              <h4>Checklist for Symptoms and TOCC </h4>
            </div>
          </mat-card-content>
        </mat-card>
      </a>
    </div> -->
    
    <div class="col-md-6 mb-3 p-4">
      
      <a routerLink="/form4">
    
        <mat-card class="col-12">
          <mat-card-content>
            <div class="text-center">
              Consent Form - 3
              <h4>Patient Screening Form - Covid 19</h4>
            </div>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
</div>
