.table thead th {
    background-color: #1d578e !important; //#1d578e
    color: white !important;
}

.btn-group-xs>.btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}