<div class="container-fluid-sm container-lg mt-3">
	<mat-card>
		<mat-card-title><h5>Patient Details</h5></mat-card-title>
		<mat-card-content>
			<div class="row">
				<div class="col-md-12 ">
					<div class="row">
						<div class="col-6">
							<ngx-select-dropdown  class="col-12 form-control form-control-sm size" [config]="configer" [options]="patients" name="opnumber" [multiple]="false" (change)="getPatientDetails($event)" [(ngModel)]="patient_nodata"></ngx-select-dropdown>
						</div>
						<div class="col-6 float-md-right d-none d-md-block text-right">
							Date : {{ dateVal | date:'dd-MM-yyyy H:mm a' }}						</div>
					</div>
					<!-- <mat-form-field class="col-6">
						<input matInput [(ngModel)]="opnumber" (change)="getPatientDetails()" placeholder="OP Number">
						<mat-icon class="cursor-pointer" matSuffix (click)="getPatientDetails()">search</mat-icon>
					</mat-form-field>
					<div class="float-md-right d-none d-md-block ">
						Date : {{ dateVal | date:'dd-MM-yyyy H:mm a' }}
					</div> -->
				</div>
				<div class="col-md-12 mergin-top-10" *ngIf="patient_data != null  && patient_data != ''">
					<mat-card >
						<mat-card-content>
							<div class="row">
								<div *ngIf="patient_data != null  && patient_data != ''" class="col-lg-12">
									<mat-card-subtitle class="text-purple mb-1 pt-2">Name</mat-card-subtitle>
									<mat-card-content>{{ patient_gender }}. {{ patient_name }}</mat-card-content>
									<mat-divider></mat-divider>
									<mat-card-subtitle class="text-purple mb-1 pt-2">Dob</mat-card-subtitle>
									<mat-card-content>{{ patient_dob }}</mat-card-content>
									<mat-divider></mat-divider>
									<mat-card-subtitle class="text-purple mb-1 pt-2">Address.</mat-card-subtitle>
									<mat-card-content>{{ patient_address }}</mat-card-content>
									<mat-divider></mat-divider>
								
									
									<mat-card-subtitle class="text-purple mb-1 pt-2">Phone No.</mat-card-subtitle>
									<mat-card-content>{{ patient_no }}</mat-card-content>
									<mat-divider></mat-divider>
									<mat-card-subtitle class="text-purple mb-1 pt-2">Nationality.</mat-card-subtitle>
									<mat-card-content>{{ patient_nationality }}</mat-card-content>
									<mat-divider></mat-divider>
									<mat-card-subtitle class="text-purple mb-1 pt-2">National Id.</mat-card-subtitle>
									<mat-card-content>{{ patient_nationalid }}</mat-card-content>
									
								</div>
							</div>

						</mat-card-content>
					</mat-card>
				</div>
				

				
				
			</div>
			
		</mat-card-content>
	</mat-card>
</div>
<div class="container-fluid-sm container-lg mt-3" >
	<mat-toolbar color="primary" class="text-center  mb-2 rounded-top">
    	<button *ngIf="lang == 2"  (click)="changeLang(1)" class="text-left" mat-raised-button>English</button>
		<span  *ngIf="lang == 1" >{{ title }}</span> 
		<span class="example-spacer"></span>
    	<button   *ngIf="lang == 1" (click)="changeLang(2)" class="text-left" mat-raised-button>مشاهدة النسخة العربية</button>
		<span  *ngIf="lang == 2" >{{ title_ar }}</span> 
	</mat-toolbar>


	<mat-card>
	   
	    <mat-card-content>
	
		  	<div class="row">
		          <section class="example-section list-group w-100" [class.text-right]="lang == 2" [class.text-ar]="lang == 2">
		            <ng-container *ngFor="let ques of questions">
						
		            	<ng-container *ngIf="ques.is_option == true">
							<section  class="row" [class.pr-3]="lang == 2">
								<div class="col-md-11 border border-1 pt-2 rounded">
									<h5 *ngIf="lang == 1">{{ques.ques}}</h5>
									<h5 *ngIf="lang == 2">{{ques.ques_ar}}</h5>
									<div class="row ml-3 p-2 ">
										<section class="example-section list-group w-100 p-2 " [class.text-right]="lang == 2" [class.text-ar]="lang == 2">
											<ng-container *ngFor="let que of ques.options">
												<ng-container *ngIf="lang == 1">
													<section  class="row">
														<div class="col-md-8 border border-1 pt-2 rounded">{{que.ques}}</div>
														<div class="col-md-3 border border-1 pt-2 rounded">
															<mat-radio-group aria-label="Select an option">
															<mat-radio-button (change)="que.ans=1" value="1">Yes</mat-radio-button>
															<mat-radio-button (change)="que.ans=0" value="0">No</mat-radio-button>
															</mat-radio-group>
														</div>
													</section>
					
												</ng-container>
												<ng-container *ngIf="lang == 2">
													<section  class="row  pr-3">
														<div class="col-md-8 border border-1 pt-2 rounded">{{que.ar}}</div>
														<div class="col-md-3 border border-1 pt-2 rounded">
															<mat-radio-group aria-label="Select an option">
															<mat-radio-button (change)="que.ans=1" value="1">نعم</mat-radio-button>
															<mat-radio-button (change)="que.ans=0" value="0">لا</mat-radio-button>
															</mat-radio-group>
														</div>
													</section>
											</ng-container>
											</ng-container>
										</section>
									</div>
								</div>
							</section>
						</ng-container>
						<ng-container *ngIf="ques.is_option == false">

						
							<ng-container *ngIf="lang == 1">
								<section  class="row">
									<div class="col-md-8 border border-1 pt-2 rounded">{{ques.ques}}</div>
									<div class="col-md-3 border border-1 pt-2 rounded">
										<mat-radio-group aria-label="Select an option">
										<mat-radio-button (change)="ques.ans=1" value="1">Yes</mat-radio-button>
										<mat-radio-button (change)="ques.ans=0" value="0">No</mat-radio-button>
										</mat-radio-group>
										<ng-container *ngIf="ques.need_remark == true">
											<mat-form-field class="w-100">
												<textarea matInput placeholder="Details" [(ngModel)]="ques.remark"></textarea>
											</mat-form-field>
										</ng-container>
									</div>
								</section>

							</ng-container>
		            		<ng-container *ngIf="lang == 2">
								<section  class="row pr-3" >
									<div class="col-md-8 border border-1 pt-2 rounded">{{ques.ques_ar}}</div>
									<div class="col-md-3 border border-1 pt-2 rounded">
										<mat-radio-group aria-label="Select an option">
										<mat-radio-button (change)="ques.ans=1" value="1">نعم</mat-radio-button>
										<mat-radio-button (change)="ques.ans=0" value="0">لا</mat-radio-button>
										</mat-radio-group>
										<ng-container *ngIf="ques.need_remark == true">
											<mat-form-field class="w-100 text-right">
												<textarea class="text-right" matInput placeholder="تفاصيل" [(ngModel)]="ques.remark"></textarea>
											</mat-form-field>
										</ng-container>
									</div>
								</section>
						   </ng-container>
						</ng-container>

		            </ng-container>
		          </section>
				
			</div>
			
		</mat-card-content>
	</mat-card>
</div>

<div class="container-fluid-sm container-lg mt-3">
	<mat-card>
		<mat-card-content>
			<div class="container-fluid">
					
				<div class="row">
					
					<div class="col-lg-6">
					</div>
					<div class="col-lg-6 " #signdiv>
						<div class="text-center" >
							(Sign Below)
						</div>
						<div class="text-center">
							<signature-pad class="" [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete($event)"></signature-pad>
							<br>
							<button  type="button" (click)="drawClear()" class="btn btn-default btn-sm" >Clear Signature</button>
						</div>
																		 
					</div>
					
				</div>
							
						
			</div>
		</mat-card-content>
	</mat-card>
	<mat-card>
		
		<mat-card-content *ngIf="patient_visit != null">
			<div class="row">
				
				<div class="col-lg-12">
																	 
						<button  type="button" (click)="saveConsent()" class="float-right btn btn-success btn-sm" >Submit</button>
				</div>
			</div>
			
		</mat-card-content>
	</mat-card>
</div>
