<!-- <ngb-tab title="Claim xml" style="font-size:6px;width:5%;">
<ng-template ngbTabContent> -->
  <form class="inner_body">
    <fieldset class="form-group">
      <legend>Claim xml <label class="high-light"></label></legend>
     
        <div class="col-sm-12">
        <div class="row container col-9"></div>
        <!-- <div class="row container col-3 pull-right">
              <div class="row container col-2 pull-right"> <button class="btn btn-primary btn-small ng-tns-c10-1 ng-star-inserted">Generate submission file</button></div>
        </div> -->
      </div>
      <div class="clearfix"></div>
      <div class="clearfix"></div>
      <div class="container">
        <table class="table tbl table-hover table-striped table-bordered">
          <thead>
                <tr>
                    <!-- <th style="width:3%;"><input type="checkbox" value=""(click)=claim_selectAll()></th> -->
                    <th width="1%">#</th>
                    <th width="10%" class="text-center">Date</th>
                    <th>Company</th>
                    <th>User</th>
                    <th>Status</th>
                    <th>File Name</th>
                    <th>Actions</th>
                    <!-- <th title="Test Submission">Test submit</th>
                    <th title="Edit XML File">Edit XML</th>
                    <th title="edit xml file">Download</th> -->
                    <!-- <th style="width:7%" title="edit xml file">submit</th> -->
                </tr>
                <tr *ngIf="claimXml_list.length === 0">
                  <td colspan="7" class="text-center">No details available</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let list of claimXml_list; let i=index">
                    <!-- <td><input type="checkbox" name="" value="list.BILLING_ID" [checked]="claim_checkall==1" (click)="select_claim(list,i,checkall,('value'))"></td> -->
                    <td class="text-center">{{start+i+1}}</td>
                    <td class="text-center">{{formatDate(list.CREATED_DATE)}}</td>
                    <td>{{list.TPA_NAME}}</td>
                    <td>{{list.FIRSTNAME}}</td>
                    <td >
                      <span *ngIf="list.SUBMISSION_STATUS =='1'&& list.SUBMISSION_UPLOAD_STATUS_CODE == null" class="icon6">Generated</span>
                      <span *ngIf="list.SUBMISSION_STATUS =='1'&& list.SUBMISSION_UPLOAD_STATUS_CODE==0" class="text-success">Test Submission Completed</span>
                      <span *ngIf="list.SUBMISSION_STATUS =='2'&& list.SUBMISSION_UPLOAD_STATUS_CODE != 0 && list.SUBMISSION_UPLOAD_STATUS_CODE!== null" class="text-success">Submited For Claim</span>
                      <span *ngIf="list.SUBMISSION_STATUS =='1'&& list.SUBMISSION_UPLOAD_STATUS_CODE != 0 && list.SUBMISSION_UPLOAD_STATUS_CODE!== null" class="text-danger">Rejected</span>
                    </td>
                    <td>
                      <button target="_blank" title="Download XML File - {{list.FILE_NAME}}" (click)="download(file_path+list.FILE_NAME,list.FILE_NAME)" class="btn btn-link btn-xs" >{{list.FILE_NAME}}</button>
                    </td>
                    <td class="text-center">
                      <button title="Regenerate XML File - {{list.FILE_NAME}}" *ngIf="list.SUBMISSION_STATUS == 1 && user_rights.ADD=='1'" class="btn btn-xs btn-margin btn-success" (click)="reSubmissioniFile(list,page)">
                        <i class="fa fa-repeat" aria-hidden="true"></i>
                      </button>
                      <button title="Test Submission - {{list.FILE_NAME}}" *ngIf="list.SUBMISSION_STATUS == 1 && user_rights.EDIT=='1'" class="btn btn-xs btn-margin btn-warning" (click)="sendfile(list,page)">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                      </button>
                      <button title="Edit XML File - {{list.FILE_NAME}}" *ngIf="list.SUBMISSION_STATUS == 1 && user_rights.EDIT=='1'" class="btn btn-xs btn-margin btn-info" (click)="open(content3);getFileContent(list,page)">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </button>
                      <button (click)="download(file_path+list.FILE_NAME,list.FILE_NAME)" target="_blank" title="Download XML File - {{list.FILE_NAME}}" *ngIf="user_rights.EDIT=='1'" class="btn btn-xs btn-margin btn-primary">
                        <i class="fa fa-download" aria-hidden="true"></i>
                      </button>
                      <button title="Submit Production - {{list.FILE_NAME}}" *ngIf="list.SUBMISSION_STATUS == 1 && user_rights.APPROVE=='1' && list.SUBMISSION_STATUS =='1'&& list.SUBMISSION_UPLOAD_STATUS_CODE==0" class="btn btn-xs btn-margin btn-danger" (click)="send_productionfile(list,page)">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                      </button>
                    </td>
                    
                </tr>
              </tbody>
        </table>
        <ngb-pagination 
        [disabled]=""
          class="d-flex justify-content-center"
          [(page)]="page"
          [pageSize]="pc"
          [collectionSize]="claim_collection"
          [directionLinks]="true"
          [boundaryLinks]="true"
          aria-label="Default pagination"
          [maxSize]="3"
          (pageChange)="xmlClaimInvoiceList(page-1)"
          >
        </ngb-pagination>
        <pre>Current page : {{page}}</pre>
        <pre>Total records : {{claim_collection}}</pre>
      </div>
        
      </fieldset>
  </form>
<!-- </ng-template>
</ngb-tab> -->
<!-- ---------------------------------------popup 3----------------------------- -->
<ng-template #content3 let-modal>
    <div class="modal-header">       
      <div class="pull-right ">
          <h4 class="modal-title" id="modal-basic-title">
           Edit xml file
          </h4>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">      
      <fieldset class="form-group ">
        <legend>Edit</legend>
        <div class="row col-lg-12">   
          <div class="row col-5">
            <div class="col-2">
              <label>Date </label>
            </div>
            <div class="col-6">
              <input type="text" [disabled]="true" class="form-control" [(ngModel)]="xml_file.date"  >
            </div>
          </div>
          <!-- <div class="clearfix"></div> -->
          <div class="row col-6">
            <div class="col-2">
                <label>File name </label>
            </div>
            <div class="col-9">
                <input type="text" [disabled]="true" class="form-control" [(ngModel)]="xml_file.file_name"  >
            </div>
          </div>
          <!-- <div class='clearfix'></div> -->
          
        </div>
        <div class='clearfix'></div>
          <textarea name="xml" class="form-control" [(ngModel)]="xml_file.file_content" style="font-size: 13px" id="xml" cols="10" rows="19"></textarea>        
          <div class='clearfix'></div>
          <div class="row col-lg-12">
            <div class="col-11"></div> 
          <button class="btn btn-primary btn-small ng-tns-c10-1 ng-star-inserted" (click)="saveFileContent()">save</button>
        </div>
    </fieldset>
  </div>
</ng-template>