<app-page-header [heading]="'Insurance'" [icon]="'fa fa-umbrella'"style="height:100px;"></app-page-header>
<ngb-tabset>
  <ngb-tab title="Credit invoice" style="font-size:6px;width:5%;">
      <ng-template ngbTabContent>
        <app-credit-invoice></app-credit-invoice>
    </ng-template>
    </ngb-tab>

     <!-- -----------------------------------------claim xml ------------------------------------->

    <ngb-tab title="Claim xml" style="font-size:6px;width:5%;"> second tab 
       <ng-template ngbTabContent>
         <app-claim-xml></app-claim-xml>
    </ng-template> 
    </ngb-tab>
   
    <!-- -------------------------------------- Submitted files ---------------------------------------------------- -->
    <ngb-tab title="Submitted files" style="font-size:6px;width:5%;"><!--forth tab  -->
      <ng-template ngbTabContent>
        <app-submitted-files></app-submitted-files>
    </ng-template>
    </ngb-tab>
    <!-- -----------------------------------Search ------------------------------------- -->
    <ngb-tab title="Search" style="font-size:6px;width:5%;">
        <ng-template ngbTabContent>
          <app-search></app-search>
      </ng-template>
      </ngb-tab>
    <!-- --------------------------------Submitted invoice----------------------------------------------------- -->
    <!-- <ngb-tab title="Submitted invoice" style="font-size:6px;width:5%;">
      <ng-template ngbTabContent>
        <form class="inner_body">
          <fieldset class="form-group" style="width:100%">
            <legend>Submitted invoice <label class="high-light"></label></legend>
            <div class="container" style="width:100%">
              <div class="row" style="width:100%">
                <table style="width:100%">
                  <tr>
                  </tr>
                </table>
              </div>
            </div>
          </fieldset>
      </form>
    </ng-template>
    </ngb-tab> -->
    <!-- -------------------New remittence-------------------------- -->
    <ngb-tab title="New remittence" style="font-size:6px;width:5%;">
      <ng-template ngbTabContent>
        <app-new-remittence></app-new-remittence>
    </ng-template>
    </ngb-tab>

    <ngb-tab title="Settlement" style="font-size:6px;width:5%;">
      <ng-template ngbTabContent>
        <form class="inner_body">
          <fieldset class="form-group" style="width:100%">
            <legend> Settlments <label class="high-light"></label></legend>
            <div class="container" style="width:100%">
              <div class="row" style="width:100%">
                <table style="width:100%">
                  <tr>
                  </tr>
                </table>
              </div>
            </div>
          </fieldset>
      </form>
    </ng-template>
    </ngb-tab>
    <ngb-tab title="Resubmission" style="font-size:6px;width:5%;">
      <ng-template ngbTabContent>
        <form class="inner_body">
          <fieldset class="form-group" style="width:100%">
            <legend> Resubmission <label class="high-light"></label></legend>
            <div class="container" style="width:100%">
              <div class="row" style="width:100%">
                <table style="width:100%">
                  <tr>
                  </tr>
                </table>
              </div>
            </div>
          </fieldset>
      </form>
    </ng-template>
    </ngb-tab>
    <ngb-tab title="Payments" style="font-size:6px;width:5%;">
      <ng-template ngbTabContent>
        <form class="inner_body">
          <fieldset class="form-group" style="width:100%">
            <legend> Payments <label class="high-light"></label></legend>
            <div class="container" style="width:100%">
              <div class="row" style="width:100%">
                <table style="width:100%">
                  <tr>
                  </tr>
                </table>
              </div>
            </div>
          </fieldset>
      </form>
    </ng-template>
    </ngb-tab>
</ngb-tabset>