<mat-toolbar>
	<span>Terms and Conditions</span>
	<span class="example-spacer"></span>
	<mat-icon class="float-right cursor-pointer" (click)="closePop()">close</mat-icon>
</mat-toolbar>


<mat-card>
   
    <mat-card-content>
    	<mat-tab-group>
		  	<mat-tab label="M M I Dental Consent">
			  	<div class="row">
			      	<ul class="list-group">
						<li class="list-group-item">
							  1. Treatment Plan
							I understand the recommended treatment and my financial responsibility as explained to me.
							I understand that by signing this consent I am in no way obligated to any treatment. I also acknowledge that during treatment it may be necessary to change or add procedures because of conditions found while working on the teeth that were not discovered during examination. For example, root canal therapy following routine restorative procedures.
						</li>
						<li class="list-group-item">
						2. Drug and Medications
						I understand that antibiotics, analgesics and other medications can cause allergic reactions such as redness and swelling tissue, pain, itching, vomiting and/or anaphylactic shock.
						</li>
						<li class="list-group-item">
						3. Extractions
						Alternatives to removal of teeth have been explained to me (root canal therapy, crown and bridge procedures, periodontal therapy, etc.)
						 I understand removing teeth does not always remove the infection, if present, and may be necessary to have further treatment. 
						I understand the risks involved in having teeth removed, some of which are pain, swelling, spread of infection, dry socket, loss of feeling in my teeth, lips, tongue and surrounding tissue (paresthesia) that can last for an indefinite period of time, or fractured jaw. 
						I understand I may need further treatment by a specialist if complications arise during or following treatment, the cost of which is my responsibility.
						</li>
						<li class="list-group-item">
						4. Crown's, Bridges, Veneers				
						I understand that sometimes it is not possible to match the color of natural teeth exactly with artificial teeth. 
						I further understand that I may be wearing temporary crowns, which come off easily and that I must be careful to ensure that they are kept on until the permanent crown is delivered. 
						I realize the final opportunity to make changes (shape of, fit, size and color) will be before cementation. It is also my responsibility to return for permanent cementation within 20 days from tooth preparation. Excessive delays may allow for tooth movement. This may necessitate a remake of the crown or bridge. 
						I understand there will be additional charges for remakes due to my delaying permanent cementation.
						</li>
						<li class="list-group-item">
						5. Endodontic Therapy
						I realize there is no guarantee that root canal treatment will save my tooth, and that complications can occur from the treatment, and that occasionally root canal filling material may extend through the tooth which does not necessarily affect the success of the treatment. 
						I understand that endodontic files and reamers are very fine instruments and stresses and defects in their manufacture can cause them to separate during use.
						 I understand that occasionally additional surgical procedures may be necessary following root canal treatment (apicoectomy). I understand that the tooth may be lost in spite of all efforts to restore it.
						</li>
						<li class="list-group-item">
						6. Periodontal Disease
						I understand that I have been diagnosed with a serious condition, causing gum and bone inflammation and/or loss and that the result could lead to the loss of teeth. Alternative treatments have been explained to me, including gum surgery, tooth extraction and/or replacement.
						</li>
						<li class="list-group-item">
						7. Fillings
						I understand that care must be exercised in chewing on filling teeth, especially during the first 24 hours to avoid breakage.
						 I understand that a more extensive restorative procedure than originally diagnosed may be required due to additional or extensive decays
						I understand that significant sensitivity is a common after effect of newly placed fillings.
						</li>
						<li class="list-group-item">
						8. Partials and Dentures
						I understand the wearing of partials/dentures is difficult. Sore spots, altered speech, and difficulty in eating are common problems. Immediate dentures (placement of dentures immediately after extractions) may be painful. Immediate dentures may require considerable adjusting and several relines. A permanent reline will be needed at a later date. This is not included in the denture fee.  
						I understand that it is my responsibility to return for delivery of my partial/denture
						 I understand that failure to keep my delivery appointment may result in poorly fitted dentures. If a remake is I understand that dentistry is not an exact science and that, therefore, reputable practitioners cannot property guarantee results. I acknowledge that no guarantee or assurance has been made by anyone regarding the dental treatment, which I have requested and authorized.
						</li>
					</ul>
				</div>
		  	</mat-tab>
		  	<mat-tab class="text-right" label="اتفاقية مركز ام ام آي لطب الأسنان">
			  	<div class="row">
			      	<ul class="list-group text-right">
						<li class="list-group-item">
							  
أفهم العلاج الموصى به ومسؤوليتي المالية كما هو موضح لي. أفهم أنه من خلال التوقيع على هذه الموافقة ، لست ملزماً بأي شكل من الأشكال بأي علاج. وأقر أيضًا أنه قد يكون من الضروري أثناء العلاج تغيير أو إضافة إجراءات بسبب الحالات التي وجدت أثناء العمل على الأسنان التي لم يتم اكتشافها أثناء الفحص. على سبيل المثال ،علاج قناة الجذر بعد إجراء حشوة محافظة روتينية

						</li>
						<li class="list-group-item">
						
2 الأدوية والاستطبابات:
أفهم أن المضادات الحيوية والمسكنات والأدوية الأخرى يمكن أن تسبب تفاعلات حساسية مثل الاحمرار وتورم الأنسجة والألم والحكة والقيء و / أو صدمة الحساسية

						</li>
						<li class="list-group-item">
						
تم شرح بدائل إزالة الأسنان (علاج قناة الجذر ، وإجراءات التاج والجسور ، علاج اللثة ، إلخ.) أفهم أن إزالة الأسنان لا تزيل دائمًا الالتهاب او الانتان ، إذا كانت موجودة ، وقد تكون هناك ضرورة لمزيد من العلاجات . أتفهم المخاطر التي تنطوي عليها إزالة الأسنان ، وبعضها الألم ، والتورم ، وانتشار الالتهاب ، والجيب الجاف ، وفقدان الإحساس في أسناني ، والشفاه ، واللسان والأنسجة المحيطة (تشوش الحس) التي يمكن أن تستمر لفترة غير محددة من الوقت ، أو كسر في الفك. أفهم أنني قد أحتاج إلى مزيد من العلاج من قبل أخصائي إذا ظهرت مضاعفات أثناء العلاج أو بعده ، وتكون تكلفتها هي مسؤوليتي
						</li>
						<li class="list-group-item">
						
أتفهم أنه في بعض الأحيان لا يمكن مطابقة لون الأسنان الطبيعية بالأسنان الاصطناعية تمامًا. 
أتفهم أيضًا أنني قد أضع  تيجانًا مؤقتة ، والتي تنزع بسهولة وأنني يجب أن أكون حريصًا على ضمان الاحتفاظ بها حتى يتم تسليم التاج الدائم.
 أدرك أن الفرصة الأخيرة لإجراء تغييرات (الشكل والملاءمة والحجم واللون) ستكون قبل الإلصاق النهائي.
 من مسؤوليتي أيضًا أن أعود للتثبيت الدائم في غضون 20 يومًا من إعداد الأسنان. قد يسمح التأخير المفرط بحركة الأسنان. قد يتطلب هذا إعادة تصنيع التاج أو الجسر. أفهم أنه ستكون هناك رسوم إضافية على عمليات إعادة التصنيع بسبب تأخري في الإسمنت الدائم.
						</li>
						<li class="list-group-item">
						
أدرك أنه لا يوجد ضمان بأن علاج قناة الجذر سينقذ أسناني ، وأن المضاعفات يمكن أن تحدث من العلاج ، وأن مادة حشو قناة الجذر قد تمتد أحيانًا من خلال السن مما لا يؤثر بالضرورة على نجاح العلاج .
 أتفهم أن أدوات علاج الأقنية اللبية هي أدوات دقيقة جدًا ، ويمكن للضغوط والعيوب في تصنيعها أن تتسبب في انفصالها أثناء الاستخدام. أتفهم أنه قد يلزم أحيانًا إجراء عمليات جراحية إضافية بعد علاج قناة الجذر (عملية قطع ذروة الجذر). أفهم أن السن قد يفقد بالرغم من كل الجهود المبذولة لاستعادته.

						</li>
						<li class="list-group-item">
						
أتفهم أنه قد تم تشخيص حالتي بحالة جدية حرجة ، مما تسبب في التهاب و / أو فقدان اللثة والعظام وأنها بالنتيجة قد تؤدي إلى فقدان الأسنان.
شرحت لي العلاجات البديلة ، بما في ذلك جراحة اللثة ، وقلع الأسنان و / أو استبدالها.


						</li>
						<li class="list-group-item">
						
أتفهم أنه يجب توخي الحذر عند المضغ على حشو الأسنان ، خاصة خلال الـ 24 ساعة الأولى لتجنب الكسر.
 أتفهم أن إجراء علاجات ترميمية أكثر شمولاً مما تم تشخيصه في الأصل قد تكون مطلوبًة تبعا لاصابات او نخور إضافية
اتفهم أن الحساسية الشديدة هي أمر شائع بعد عمل الحشوات الموضوعة حديثًا.


						</li>
						<li class="list-group-item">
						
أتفهم أن ارتداء الأجزاء الجزئية / أطقم الأسنان أمر صعب. تعتبر البقع المؤلمة ، وتغيير الكلام ، وصعوبة تناول الطعام من المشاكل الشائعة. قد تكون أطقم الأسنان الفورية (وضع أطقم الأسنان بعد الاستخراج مباشرة) مؤلمة. قد تتطلب أطقم الأسنان الفورية تعديلًا كبيرًا وعدة علاجات. سوف تكون هناك حاجة إلى مقوم دائم في وقت لاحق. لم يتم تضمين هذا في رسوم طقم الأسنان. أنا أتفهم أنه من مسؤوليتي العودة لتسليم بلدي
جزئي / أسنان. أفهم أن الفشل في الاحتفاظ بموعد التسليم قد يؤدي إلى أطقم أسنان سيئة التركيب. إذا كان طبعة جديدة
مطلوب بسبب تأخري لأكثر من 30 يومًا ، يمكن تكبد رسوم إضافية
أتفهم أن طب الأسنان ليس علمًا دقيقًا ، وبالتالي ، فإن الممارسين ذوي السمعة الطيبة لا يمكنهم ضمان النتائج. أقر بأنه لم يتم تقديم أي ضمان أو تأكيد من قِبل أي شخص فيما يتعلق بعلاج الأسنان ، الذي طلبته وسمح به

						</li>
					</ul>
				</div>
		  </mat-tab>
		</mat-tab-group>
	</mat-card-content>
</mat-card>
