$topnav-background-color: #0a73af;

:host {
    display: block;
}

.login-page {
    background-image: url('../../assets/images/Background.jpg');
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    //background: #273f62;
    text-align: center;
    color: #fff;
    padding: 3em;
    background-size: cover;

    // background: linear-gradient(40deg, #000000 	, #494848 40%, #020000 60%, rgb(218, 214, 214));
    .col-lg-4 {
        padding: 0;
    }

    .heading-top {
        color: #0966a2;
        text-shadow: 1px 1px 1px #ffffffde;
        font-weight: bold;
    }

    .hms-title {
        text-shadow: 1px 1px 1px #000;
    }

    .input-lg {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 0;
    }

    .input-underline {
        background: 0 0;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid #FFF;
        color: #fff;
        border-radius: 0;
    }

    .form-group {
        padding: 6px 40px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .login-form {
        color: #088fc8 !important;
        font-weight: 500;
    }

    .input-underline:focus {
        border-bottom: 2px solid #fff;
        box-shadow: none;
    }

    .rounded-btn {
        -webkit-border-radius: 50px;
        border-radius: 50px;
        color: rgba(255, 255, 255, 0.8);
        background: $topnav-background-color;
        border: 2px solid rgba(255, 255, 255, 0.8);
        font-size: 18px;
        line-height: 40px;
        padding: 0 25px;
    }

    .rounded-btn:hover,
    .rounded-btn:focus,
    .rounded-btn:active,
    .rounded-btn:visited {
        color: rgba(255, 255, 255, 1);
        border: 2px solid rgba(255, 255, 255, 1);
        outline: none;
    }

    h1 {
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 36px;

        small {
            color: rgba(255, 255, 255, 0.7);
        }
    }

    .form-group {
        margin-bottom: 1em;
        padding: 8px 0;

        input::-webkit-input-placeholder {
            color: #fff !important;
            font-weight: normal !important;
        }

        input:-moz-placeholder {
            /* Firefox 18- */
            color: #fff !important;
            font-weight: normal !important;
        }

        input::-moz-placeholder {
            /* Firefox 19+ */
            color: #fff !important;
            font-weight: normal !important;
        }

        input:-ms-input-placeholder {
            color: #fff !important;
            font-weight: normal !important;
        }
    }

    .form-content {
        padding: 40px 0;
    }

    .user-avatar {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 2px solid #fff;
    }
}