<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="clearfix"></div>
        <div class="clearfix"></div>
        <div class="col-md-4"
            style="padding-top: 30px;padding-bottom : 30px;border: double;border-radius: 27px;border: solid 1px #49aaff; background-color:  #99bddc87;">
            <div class="clearfix"></div>
            <h1 class="heading-top">MediMate247</h1><br>
            <h4 class="hms-title">Hospital Management System</h4>
            <form role="form" (keyup.enter)="onLoggedin()">
                <div *ngIf="error_message != ''" [innerHTML]="error_message" class="alert alert-danger"></div>
                <div class="form-content">

                    <div class="form-group">
                        <input type="text" name="user" [(ngModel)]="user"
                            class="form-control login-form input-underline input-lg" id=""
                            placeholder="{{ 'User name' | translate }}">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" [(ngModel)]="pass"
                            class="form-control login-form input-underline input-lg" id=""
                            placeholder="{{ 'Password' | translate }}">
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()">{{ 'Log in' | translate
                    }}</a>
                &nbsp;
                <!--<a class="btn rounded-btn" [routerLink]="['/signup']">{{ 'Register' | translate }}</a>-->
            </form>
            <div class="clearfix"></div>
            <div class="clearfix"></div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>