legend {
    display: block;
    width: auto;
    max-width: 100%;
    padding: 10px;
    margin-bottom: .5rem;
    font-size: 17px;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

.high-light {
    font-weight: bold;
    font-size: 17px;
    color: #1d578e;
}

fieldset {
    min-width: 0;
    padding: 10px;
    margin: 5px;
    margin-left: 5px;

    border: 1px solid grey;
}

.clearfix {

    width: 100%;
    min-height: 10px;

}

label,
th,
td {
    font-size: 13px;
}

input,
select,
option {
    font-size: 13px;
}

.btn-group-xs>.btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-margin {
    margin: 2px;
}

.alert-sm {
    padding: 5px;
    margin: 5px;
    font-size: 13px;
    line-height: 13px;
}

.modal-lg {
    max-width: 95%;
}

.modal-body {
    background-color: aliceblue;
}

.table td {

    padding: 4px 4px 2px 4px;
}

.table thead th {
    vertical-align: middle;
    border-bottom: 2px solid #dee2e6;
    border-bottom-width: 2px;
}

.table tbody td {
    font-size: 12px;
    text-align: left;
}

.table {
    vertical-align: middle;
}

.table tbody td {
    font-size: 12px;
    text-align: left;
}

label,
th,
td {
    font-size: 12px;
    // color: black;
}

input,
select,
option {
    font-size: 12px;
}

.tbl {
    td {
        padding: 5px 8px 5px 8px;
    }

}