.first {
  background-color: #1d578e;

}

label {
  font-size: 14px;

}

input {
  font-size: 14px;
}

.input1 {
  width: 15%;
}

.second {
  text-emphasis-color: white;
  text-decoration-color: white;
}

.boarder {
  // border: solid;
  //   border-color: #1d578e;
  border-left: 7px solid lightgrey;
  background-color: lightgrey;
}

.text {
  font-size: 14px;
}

.text2 {
  font-size: 10px;
}